/* theme by Grim */
/* if u r my twin, feel free to use this theme */
/* if u r not my twin and you found this, plz don't use this, thnx */

@import url("./vars.css");
@import url("./fonts.css");

a, a:link
{
	color: #1b6cbf;
	text-decoration: none;
}

a:hover, a:active
{
	color: #188aff;
	text-decoration: underline;
}

a img
{
	border: none;
}

input,textarea,select { 
	border: 1px solid black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
}

body {
  background-image: linear-gradient(to bottom, var(--dark), var(--purple)) !important;
  background-repeat: no-repeat;
  color: var(--white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  margin: var(--body-spacing);
  border-radius: var(--body-radius);
  padding: 1rem;
}

.block {
  background: var(--block-bg-color);
  border-radius: var(--block-radius);
  margin-bottom: var(--column-spacing);
  padding: var(--block_content-spacing);
}

.block .header {
  background: var(--block_head-bg-color);
  font-family: var(--heading-font-family);
  font-size: var(--block_head-font-size);
  border-radius: var(--block-radius) var(--block-radius) 0 0;
  padding: var(--block_content-spacing);
}

.button {
  background: var(--button-bg-color);
  border-radius: var(--button-radius);
  padding: var(--button-padding);
  line-height: var(--button-line-height);
  transition: var(--button-transition);
}

.button:hover {
  box-shadow: 0 0 0.5rem var(--yellow);
}

.comment_table {
  background-image: linear-gradient(to bottom, var(--dark), var(--purple)) !important;
  background-repeat: no-repeat;
	border-bottom: 1px solid black;
	width: 100%;
}

table,tr,td { 
	padding: 0px;
}

.comment_info { 
	width: 64px;
}





/*

#navigation {
	font-size: 11px;
	font-family: tahoma;
	font-weight: bold;
	letter-spacing: 1px;
	border-bottom: 1px solid black;
	margin: 0px;
	padding: 3px;
	background-image:url('https://img.subeta.net/profile_header_gradient.png');
	background-color: #3196b7;	
}

.data { 
	text-align: center;
}

#friends td { 
	width: 64px;
}

#medals td { 
	width: 64px;
}

.header { 
	background-image:url('https://img.subeta.net/profile_header_gradient.png');
	background-color: #3196b7;
	width: 100%;
	font-weight: bold;
	letter-spacing: 2px;
	border-bottom: 1px solid black;
	padding-left: 3px;
	height: 20px;
}

.hover { 
	border: 1px dotted black;
}

.column {
	width: 85%;
	height: 100%;
}

.div_float { 
	float: left;
	width: 33%;
}

.block {
	border: 5px solid white;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-image:url('https://img.subeta.net/profile_transparent.png');
}

.info_block { 
	width: 100%;
	padding: 1px;
	background-image:url('https://img.subeta.net/profile_content_gradient.png');
	background-repeat: repeat-x;
}

.updated_text { 
	font-size: 11px;
	font-family: Tahoma;
	background-color: #FFE6E6;
	border: 1px solid #760000;
	width: 400px;
	padding: 4px;
	text-align: left;
	letter-spacing: 1px;
	text-align: center;
}

.updated_text input { 
	margin: 3px;
	width: 70%;
}


#toolbox { 
	background-color: white;
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
	background-image:url('https://img.subeta.net/profile_content_gradient.png');
	background-repeat: repeat-x;
}
.toolbox_button {
font-weight:bold;
}
#new-content{display:none;}


.filler { 
	width: 0px;
	height: 0px;
	background-color: transparent;
}

 ul {
    list-style-image:none;
    list-style-type:none;
  }

  li {
		text-decoration:none;
		display:block;
  }

  ul.column li {
    padding:0px;
    margin:5px;
  }

  span.handle {
    background-color: #E8A400;
    color:white;
    cursor: move;
  }

  .avatar_head {
	width: 64px;
	height: 64px;
	margin: 5px;
	background-position: -26px -38px;
	border-width: 1px;
	cursor: default;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;	
	border: 1px solid black;
}
  */