/* theme by Grim */
/* if u r my twin, feel free to use this theme */
/* if u r not my twin and you found this, plz don't use this, thnx */

@import url("./vars.css");
@import url("./fonts.css");

#overall {
    position: relative;
}

a, a:link
{
	color: var(--orange);
	text-decoration: none;
}

a:hover, a:active
{
	color: var(--pink);
	text-decoration: underline;
}

a img
{
	border: none;
}

input,textarea,select { 
	border: none;
}

.block {
  background-color: var(--block-bg-color);
  -moz-border-radius: var(--block-radius);
	-webkit-border-radius: var(--block-radius);
  border-radius: var(--block-radius);
  margin-bottom: var(--column-spacing);
  padding: var(--block-spacing);
  background-image: none !important;
  border: 1px solid var(--dark);
  box-shadow: 0 6px 0 var(--yellow);
}

.block .header {
  background: var(--block_head-bg-color);
  font-family: var(--heading-font-family);
  font-size: var(--block_head-font-size);
  border-radius: var(--block-radius) var(--block-radius) 0 0;
  padding: var(--block-spacing);
}

.info_block { 
	width: 100%;
	padding: var(--block-spacing);
  background-image: none !important;
  background-repeat: no-repeat;
  background-color: var(--block-bg-color);
  border-radius: var(--block-radius);
}

body {
  background-image: none !important;
  background-repeat: no-repeat;
  background-color: var(--dark);
  color: var(--white);
  margin: var(--body-spacing);
  border-radius: var(--body-radius);
  padding: var(--block-spacing);
}

.button {
  background: var(--button-bg-color);
  border-radius: var(--button-radius);
  padding: var(--button-padding);
  line-height: var(--button-line-height);
  transition: var(--button-transition);
}

.button:hover {
  box-shadow: 0 0 0.5rem var(--orange);
}

.comment_table {
  background-image: none;
  background-repeat: no-repeat;
  background-color: var(--purple);
	border-bottom: 1px solid black;
	width: 100%;
}

table,tr,td { 
	padding: 0px;
}

.comment_info { 
	width: 64px;
}

#header_avatar {
    display: none !important;
}

#content_avatar {
    height: 100%;
}

#content_avatar img {
    height: 100%;
    object-fit: cover;
    display: block;
}

#navigation {
  color: var(--white);
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  letter-spacing: 1px;
	border-bottom: 1px solid black;
  margin: var(--body-spacing);
	padding: var(--block-spacing);
  background-image: none !important;
  background-repeat: no-repeat;
	background-color: var(--purple);
}

.div_float {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

#column1 {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
  width: 100%;
}

/* Avatar */
#column1_9116282 {
  grid-column: 2 / span 1;
  grid-row: 1 / span 3;
  display: grid;
}

#column1_avatar {
  height: 100%;
  width: 100%;
  display: block;
}

/* About Me */
#column1_9115439 {
  grid-column: 3 / span 2; 
  grid-row: 1;
}

/* Profile */
#column1_9115441 {
  grid-column: 3 / span 2; 
  grid-row: 2;
}

/* Wishlist */
#column1_9115443 {
  grid-column: 3 / span 2; 
  grid-row: 3;
}

/* Options */
#column1_9115448 {
  grid-column: 5 / span 2; 
  grid-row: 1;
}

/* Pets */
#column1_9115447 {
  grid-column: 5 / span 2; 
  grid-row: 2 / span 2;
}

/* Stats */
#column1_9115446 {
  grid-column: 2 / span 2; 
  grid-row: 4 / span 2;
}

/* Comments */
#column1_9115444 {
  grid-column: 4 / span 3; 
  grid-row: 4 / span 3;
}

/* Shop */
#column1_9115438 {
  grid-column: 2 / span 2; 
  grid-row: 6 / span 2;
}

/* Leave a Comment */
#column1_9115445 {
  grid-column: 4 / span 3; 
  grid-row: 6 / span 2;
}

#column2,
#column3 {
  display: none;
}

/*

.header { 
	background-image:url('https://img.subeta.net/profile_header_gradient.png');
	background-color: #3196b7;
	width: 100%;
	font-weight: bold;
	letter-spacing: 2px;
	border-bottom: 1px solid black;
	padding-left: 3px;
	height: 20px;
}

.updated_text { 
	font-size: 11px;
	font-family: Tahoma;
	background-color: #FFE6E6;
	border: 1px solid #760000;
	width: 400px;
	padding: 4px;
	text-align: left;
	letter-spacing: 1px;
	text-align: center;
}

.updated_text input { 
	margin: 3px;
	width: 70%;
}


#toolbox { 
	background-color: white;
	border: 1px solid black;
	padding: 5px;
	margin: 5px;
	background-image:url('https://img.subeta.net/profile_content_gradient.png');
	background-repeat: repeat-x;
}
.toolbox_button {
font-weight:bold;
}
#new-content{display:none;}


.filler { 
	width: 0px;
	height: 0px;
	background-color: transparent;
}

 ul {
    list-style-image:none;
    list-style-type:none;
  }

  li {
		text-decoration:none;
		display:block;
  }

  ul.column li {
    padding:0px;
    margin:5px;
  }

  span.handle {
    background-color: #E8A400;
    color:white;
    cursor: move;
  }

  .avatar_head {
	width: 64px;
	height: 64px;
	margin: 5px;
	background-position: -26px -38px;
	border-width: 1px;
	cursor: default;
	-moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;	
	border: 1px solid black;
}
  */